<?xml version="1.0" encoding="UTF-8"?>
<widget 
        id        = "com.phonegap.helloworld"
        version   = "0.0.1">

    <name>Hello World</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author>
        Jonny Forney
    </author>



    <gap:plugin name="org.apache.cordova.geolocation" />


    <access origin="*"/>

</widget>