/* Overrides */
.in, .out {
    
}
/* Global tags */
body {
    background-color: lightgray;
}

ul {
	list-style: none;
	padding: 0px;
}

label {
	text-align: right;
	margin: 0px !important;
}

/* class */
.main-center {
	vertical-align: middle;
	margin-top: 25%;
    text-align: center;
}

.center {
	text-align: center;
}

.link-plain {
	text-decoration: none;
	color: inherit;
}

li.top-menu {
	display: inline;
	list-style-type: none;
}

.top-right {
	float: right;
	padding-right: 5%;
}

.top-middle {
	text-align: center;
}

.top-left {
	float: left;
	padding-left: 5%;
}

.top-menu-button {
	font-size: 12px;
}

.clearfix {
	overflow: auto;
}

.facebook {
	text-align: center;
	font-weight: bold;
	background-color: #3B5998;
	font-size: 12px;
	border-radius: 5px;
	padding: 10px;
}

.icon-small {
	height: 15px;
	width: 15px;
}

.icon-medium {
	height: 70px;
	width: 25%;
}

.edit-pic {
	position: absolute; 
	margin-left: 7.5%; 
	margin-top: 21%; 
	font-size: 12px; 
	color: #B0C4DE; 
	text-shadow: none;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 4%;
}

.footer ul li {
	display: inline;
}

.nav_button {	
	width: 45%;
	padding: 3% 0 3% 0;
	border-radius: 5px;
	font-family: New Times Roman;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;	
}

.nav_left {
	margin-left: 4%;
	color: black !important;
	background-color: lightgray;
	float: left;
}

.nav_right {
	margin-right: 4%;
	color: white !important;
	background-color: #0c65a5;
	float: right;
}



/* ids */